<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo" *ngIf="isShow">
        <button mat-icon-button class="toggle-sidebar-folded" fxHide.lt-lg>
            <mat-icon class="secondary-text">apps</mat-icon>
        </button>
    </div >


    <div>
        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" *ngIf="isShow" fxHide.lt-lg>
            <mat-icon class="secondary-text">chevron_left</mat-icon>
        </button>
        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" *ngIf="!isShow"  fxHide.lt-lg>
            <mat-icon class="secondary-text">chevron_right</mat-icon>
        </button>
    </div>


</div>





<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">Charlie Adams</div>
        <div class="h5 email hint-text mt-8">adams.charlie@mail.com</div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>